body {
  background-color: #ec7476;
  color: white;
  font-family: Poppins, sans-serif;
}

input {
  all: unset;
}

h1 {
  font-size: 3rem;
}

.container {
  display: grid;
  padding: 10rem 10rem;
  grid-template-columns: 45% 45%;
  justify-content: space-between;
}

.page-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.page-text > p {
  font-size: 1.25rem;
  line-height: 1.5;
  margin-top: 0;
}

.cta {
  background-color: hsl(249, 32%, 49%);
  margin-bottom: 2rem;
  padding: 0.4rem 3rem;
  text-align: center;
}

.round-corner {
  border-radius: 1rem;
}

.container-shadow {
  box-shadow: 0 0.5rem rgb(0, 0, 0, 0.1);
}

.form {
  padding: 2.5rem;
  background-color: white;
}

form > input {
  border: 1px solid lightgray;
  border-radius: 0.3rem;
  padding: 1rem;
  margin-bottom: 1rem;
  font-weight: 700;
}

form > input:focus {
  border: 1px solid black;
}

form {
  display: flex;
  flex-direction: column;
}

form > input:last-child {
  background-color: hsl(154, 59%, 51%);
  text-align: center;
  -webkit-text-fill-color: white;
}

.terms {
  color: lightgrey;
  font-size: 0.75rem;
  text-align: center;
}

.terms > strong {
  color: hsl(0, 100%, 74%);
}
